
.container{
    height: 100vh;
    width: 100%;
    position: relative;
    }

.runway{
    height: 200px;
    width: 100%;
    background-image: url(road.jpg);
    position: absolute;
    left: 0;
    bottom: 0;

}

.airplane{
    width: 260px;
    position: absolute;
    bottom: 150px;
    right: -200px;
    animation: plane 10s linear infinite;
    transform-origin: 100% 50%;
}

@keyframes plane{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    30%{
        transform: translateX(-250px) translateY(3px) rotate(5deg);
    }
    100%{
        transform: translateX(-700px) translateY(-150px) rotate(30deg);
    }
}